.sarufi-chat-container {
  height: 50px;
  width: 50px;
  z-index: 7;
  -webkit-transition: height .25s;
  transition: height .25s;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: var(--sarufi-font-family);
  font-size: var(--sarufi-font-size);
  bottom: 1rem;
  right: 1rem;
}

.sarufi-chat-container.open {
  height: 500px;
  width: 400px;
  max-width: 100%;
  max-height: 100%;
  border-radius: 0;
  bottom: 1rem;
  right: 1rem;
  background: var(--clr-neutral-0);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.sarufi-chat-container p {
  margin: 0;
}

.sarufi-chat-container ul {
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  list-style: none;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
}

.sarufi-chat-container form {
  width: 100%;
  bottom: 0;
  height: 60px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.sarufi-chat-container form button {
  position: absolute;
  height: 30px;
  width: 30px;
  max-width: 30px !important;
  bottom: 21.5px;
  padding: 1rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: var(--sarufi-primary-color);
}

.sarufi-chat-container .choices {
  height: calc( 500px - 92px - .5rem);
  max-height: calc( 100% - 92px - .5rem);
  width: 400px;
  max-width: 100%;
  right: 1rem;
  bottom: calc( 50px + .2.2rem);
}

.sarufi-chat-container .sarufi-backdrop {
  height: calc( 500px - 104px - .5rem);
  max-height: calc( 100% - 104px - .5rem);
  width: 400px;
  max-width: 100%;
  right: 1rem;
  bottom: calc( 78px + .5rem);
}

.sarufi-chat-container .sarufi-options {
  right: 2rem;
  height: calc( 500px - 125px - .5rem);
  max-height: calc( 100% - 104px - .5rem);
  width: 368px;
  max-width: 100%;
  overflow-y: auto;
  position: fixed;
  bottom: calc( 90px + .5rem);
  margin-top: 1rem;
}

@media screen and (max-width: 432px) {
  .sarufi-chat-container.open {
    width: 100%;
    bottom: 0;
    right: 0;
  }
  .sarufi-chat-container .sarufi-backdrop {
    height: calc( 500px - 104px - .5rem);
    max-height: calc( 100% - 104px - .5rem);
    width: 100%;
    max-width: 100%;
    right: 0;
    bottom: calc( 62px + .5rem);
  }
  .sarufi-chat-container .sarufi-options {
    right: 0rem !important;
    height: calc( 500px - 135px - .5rem);
    max-height: calc( 100% - 120px - .5rem);
    width: 100%;
    max-width: 100%;
    overflow-y: auto;
    position: fixed;
    bottom: calc( 70px + .5rem);
    margin-top: 1rem;
  }
}

@media screen and (max-height: 532px) {
  .sarufi-chat-container.open {
    height: 100%;
    bottom: 0;
    right: 0;
  }
  .sarufi-chat-container .sarufi-backdrop {
    height: calc( 500px - 104px - .5rem);
    max-height: calc( 100% - 104px - .5rem);
    width: 400px;
    max-width: 100%;
    right: 0;
    bottom: calc( 62px + .5rem);
  }
  .sarufi-chat-container .sarufi-options {
    right: 1rem;
    height: calc( 500px - 135px - .5rem);
    max-height: calc( 100% - 120px - .5rem);
    width: 368px;
    max-width: 100%;
    overflow-y: auto;
    position: fixed;
    bottom: calc( 70px + .5rem);
    margin-top: 1rem;
  }
}
/*# sourceMappingURL=chat.module.css.map */