.sarufi-chat-container {
  height: 50px;
  width: 50px;
  z-index: 100000;
  -webkit-transition: height 0.25s;
  transition: height 0.25s;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: var(--sarufi-font-family);
  font-size: var(--sarufi-font-size);
  bottom: 1rem;
}

.sarufi-chat-container.sarufi-left-align {
  left: 1rem;
}

.sarufi-chat-container.sarufi-left-align .choices {
  left: 1rem;
}

.sarufi-chat-container.sarufi-left-align .sarufi-backdrop {
  left: 1rem;
}

.sarufi-chat-container.sarufi-left-align .sarufi-options {
  left: 2rem;
}

.sarufi-chat-container.sarufi-right-align {
  right: 1rem;
}

.sarufi-chat-container.sarufi-right-align .choices {
  right: 1rem;
}

.sarufi-chat-container.sarufi-right-align .sarufi-backdrop {
  right: 1rem;
}

.sarufi-chat-container.sarufi-right-align .sarufi-options {
  right: 2rem;
}

.sarufi-chat-container .sarufi-floating {
  animation: updown 1s ease-in-out infinite alternate;
  -webkit-animation: updown 1s ease-in-out infinite alternate;
}

.sarufi-chat-container.open {
  height: var(--sarufi-chatbox-height);
  width: var(--sarufi-chatbox-width);
  max-width: 100%;
  max-height: 100%;
  border-radius: 18px;
  /* overflow: hidden; */
  /* border: 1px solid blue; */
  bottom: 1rem;
  right: 1rem;
  background: var(--clr-neutral-0);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.sarufi-chat-container button:focus {
  outline-color: transparent;
}

.sarufi-chat-container a:hover {
  text-decoration: underline;
}

.sarufi-chat-container p {
  margin: 0;
  overflow-wrap: break-word;
  white-space: pre-wrap;
}

.sarufi-chat-container ul {
  -webkit-margin-before: 0;
  margin-block-start: 0;
  -webkit-margin-after: 0;
  margin-block-end: 0;
  list-style: none;
  -webkit-padding-start: 0;
  padding-inline-start: 0;
}

.sarufi-chat-container form button {
  position: absolute;
  /* height: 50px; */
  /* width: 50px; */
  /* max-width: 50px !important; */
  /* bottom: 5px; */
  top: 7px;
  right: 5px;
  /* padding: 1rem; */
  /* -webkit-box-sizing: border-box;
  box-sizing: border-box; */
  color: var(--sarufi-primary-color);
}

.sarufi-chat-container .choices {
  height: calc(var(--sarufi-chatbox-height) - 82px - 0.5rem);
  max-height: calc(100% - 92px - 0.5rem);
  width: var(--sarufi-chatbox-width);
  max-width: 100%;
  bottom: calc(40px + 0.2.2rem);
}

.sarufi-chat-container .sarufi-backdrop {
  height: calc(var(--sarufi-chatbox-height) - 95px - 0.5rem);
  max-height: calc(100% - 105px - 0.5rem);
  width: var(--sarufi-chatbox-width);
  max-width: 100%;
  bottom: calc(69px + 0.5rem);
}

.sarufi-chat-container .sarufi-options {
  height: calc(var(--sarufi-chatbox-height) - 115px - 0.5rem);
  max-height: calc(100% - 94px - 0.5rem);
  width: calc(var(--sarufi-chatbox-width) - 32px);
  max-width: 100%;
  overflow-y: auto;
  position: fixed;
  bottom: calc(80px + 0.5rem);
  margin-top: 1rem;
}

.sarufi-chat-container .message-actions button {
  border: none;
  background: none;
  cursor: pointer;
}

.sarufi-field-group {
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%;
}

.sarufi-field-group .input-group {
  /* position: relative; */
  display: block !important;
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* .sarufi-field-group .input-group textarea {
  resize: none;
  background-color: transparent;
  width: 100%;
  height: 100%;
  border: 1px solid transparent;
  -webkit-transition: 0.25s;
  transition: 0.25s;
  font-family: inherit;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: inherit;
} */

.sarufi-field-group .input-group textarea:focus,
.sarufi-field-group .input-group textarea:hover {
  /* border-color: var(--sarufi-primary-color); */
  /* border-width: 1px; */
  outline: transparent !important;
}

.sarufi-field-group .input-group textarea:disabled {
  border-color: #4a535b;
  color: #4a535b;
}

.sarufi-chat-loader div {
  width: 9px;
  height: 9px;
  background-color: var(--sarufi-received-box-color);
  border-radius: 50%;
  display: inline-block;
  -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
  animation: bouncedelay 1400ms ease-in-out infinite;
  /* Prevent first frame from flickering when animation starts */
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.sarufi-chat-loader .sarufi-bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.sarufi-chat-loader .sarufi-bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes updown {
  0% {
    transform: translateY(0);
    -webkit-transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
  }
}

@keyframes updown {
  0% {
    transform: translateY(0);
    -webkit-transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
  }
}

@-webkit-keyframes bouncedelay {
  0% {
    transform: scale(0);
    -webkit-transform: scale(0);
  }
  40% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
  80% {
    transform: scale(0);
    -webkit-transform: scale(0);
  }
  100% {
    transform: scale(0);
    -webkit-transform: scale(0);
  }
}

@keyframes bouncedelay {
  0% {
    transform: scale(0);
    -webkit-transform: scale(0);
  }
  40% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
  80% {
    transform: scale(0);
    -webkit-transform: scale(0);
  }
  100% {
    transform: scale(0);
    -webkit-transform: scale(0);
  }
}

@media screen and (max-width: 500px) {
  .sarufi-chat-container.sarufi-left-align .sarufi-backdrop {
    left: 0 !important;
  }
  .sarufi-chat-container.sarufi-left-align .sarufi-options {
    left: 0 !important;
  }
  .sarufi-chat-container.sarufi-right-align .sarufi-backdrop {
    right: 0 !important;
  }
  .sarufi-chat-container.sarufi-right-align .sarufi-options {
    right: 0 !important;
  }
  .sarufi-chat-container.open {
    width: 100%;
    bottom: 0;
    right: 0;
  }
  .sarufi-chat-container.open.sarufi-left-align {
    left: 0rem;
  }
  .sarufi-chat-container .sarufi-backdrop {
    width: 100%;
    bottom: calc(53.5px + 0.5rem);
  }
  .sarufi-chat-container .sarufi-options {
    width: 100%;
    max-width: 100%;
    bottom: calc(65px + 0.5rem);
  }
}

@media screen and (max-height: 600px) {
  .sarufi-chat-container.sarufi-left-align .sarufi-backdrop {
    left: 1rem !important;
  }
  .sarufi-chat-container.sarufi-left-align .sarufi-options {
    left: 2rem !important;
  }
  .sarufi-chat-container.sarufi-right-align .sarufi-backdrop {
    right: 1rem !important;
  }
  .sarufi-chat-container.sarufi-right-align .sarufi-options {
    right: 2rem;
  }
  .sarufi-chat-container.open {
    bottom: 0;
    right: 0;
    height: calc(100% - 50px);
    max-height: 100%;
  }
  .sarufi-chat-container.open.sarufi-right-align {
    right: 1rem;
  }
  .sarufi-chat-container.open.sarufi-left-align {
    left: 1rem;
  }
  .sarufi-chat-container .sarufi-backdrop {
    height: calc(100%px - 144px - 0.5rem);
    max-height: calc(100% - 144px - 0.5rem);
    width: var(--sarufi-chatbox-width);
    max-width: 100%;
    bottom: calc(52px + 0.5rem);
  }
  .sarufi-chat-container .sarufi-options {
    height: calc(100% - 155px - 0.5rem);
    max-height: calc(100% - 140px - 0.5rem);
    width: calc(var(--sarufi-chatbox-width) - 32px);
    max-width: 100%;
    bottom: calc(60px + 0.5rem);
  }
}

@media (max-width: 500px) and (max-height: 600px) {
  .sarufi-chat-container.sarufi-left-align .sarufi-backdrop {
    left: 0rem !important;
  }
  .sarufi-chat-container.sarufi-left-align .sarufi-options {
    left: 0rem !important;
  }
  .sarufi-chat-container.sarufi-right-align .sarufi-backdrop {
    right: 0rem !important;
  }
  .sarufi-chat-container.sarufi-right-align .sarufi-options {
    right: 0rem !important;
  }
  .sarufi-chat-container.open {
    height: calc(100% - 50px);
  }
  .sarufi-chat-container.open.sarufi-right-align {
    right: 0rem;
  }
  .sarufi-chat-container.open.sarufi-left-align {
    left: 0rem;
  }
  .sarufi-chat-container .sarufi-backdrop {
    height: calc(100%px - 144px - 0.5rem);
    max-height: calc(100% - 144px - 0.5rem);
    width: var(--sarufi-chatbox-width);
    max-width: 100%;
  }
  .sarufi-chat-container .sarufi-options {
    height: calc(100% - 155px - 0.5rem);
    max-height: calc(100% - 140px - 0.5rem);
    width: calc(var(--sarufi-chatbox-width) - 32px);
    max-width: 100%;
    bottom: calc(60px + 0.5rem);
    margin-top: 1rem;
  }
}
/*# sourceMappingURL=chat.css.map */
