.sarufi-chat-container, .sarufi-modal {
  /* All the same stuff for Firefox */
  /* All the same stuff for IE */
}

.sarufi-chat-container input[type=range], .sarufi-modal input[type=range] {
  -webkit-appearance: none;
  width: calc( 100% - 90px);
  background: transparent;
  border-radius: 5px;
}

.sarufi-chat-container input[type=range], .sarufi-modal input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  background: transparent;
}

.sarufi-chat-container input[type=range]::-webkit-slider-thumb, .sarufi-modal input[type=range]::-webkit-slider-thumb {
  visibility: hidden;
}

.sarufi-chat-container input[type=range]:focus, .sarufi-modal input[type=range]:focus {
  outline: none;
}

.sarufi-chat-container input[type=range]::-ms-track, .sarufi-modal input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

.sarufi-chat-container input[type=range]:active::-webkit-slider-thumb, .sarufi-modal input[type=range]:active::-webkit-slider-thumb {
  visibility: hidden;
}

.sarufi-chat-container input[type=range]::-moz-range-thumb, .sarufi-modal input[type=range]::-moz-range-thumb {
  visibility: hidden;
}

.sarufi-chat-container input[type=range]::-ms-thumb, .sarufi-modal input[type=range]::-ms-thumb {
  visibility: hidden;
}

.sarufi-chat-container input[type=range]::-webkit-slider-runnable-track, .sarufi-modal input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  margin-top: -2px;
  background: lightgray;
  border-radius: 5px;
}

.sarufi-chat-container input[type=range]::-moz-range-track, .sarufi-modal input[type=range]::-moz-range-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  margin-top: -2px;
  background: gray;
  border-radius: 5px;
}

.sarufi-chat-container input[type=range]::-ms-track, .sarufi-modal input[type=range]::-ms-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  margin-top: -2px;
  background: gray;
  border-radius: 5px;
}

.sarufi-chat-container input[type=range]::-ms-fill-lower, .sarufi-modal input[type=range]::-ms-fill-lower {
  background: gray;
}

.sarufi-chat-container input[type=range]:focus::-ms-fill-lower, .sarufi-modal input[type=range]:focus::-ms-fill-lower {
  background: gray;
}

.sarufi-chat-container input[type=range]::-ms-fill-upper, .sarufi-modal input[type=range]::-ms-fill-upper {
  background: gray;
}

.sarufi-chat-container input[type=range]:focus::-ms-fill-upper, .sarufi-modal input[type=range]:focus::-ms-fill-upper {
  background: gray;
}

.sarufi-chat-container .sarufi-bar.sarufi-duration__bar, .sarufi-modal .sarufi-bar.sarufi-duration__bar {
  width: 100%;
  border-radius: 5px;
}

.sarufi-chat-container .sarufi-bar.sarufi-duration__bar input, .sarufi-modal .sarufi-bar.sarufi-duration__bar input {
  width: calc( 100% - 4px);
  border-radius: 5px;
  position: relative;
  -webkit-transition: .05s;
  transition: .05s;
}

.sarufi-chat-container .sarufi-bar.sarufi-duration__bar input::before, .sarufi-chat-container .sarufi-bar.sarufi-duration__bar input::after, .sarufi-modal .sarufi-bar.sarufi-duration__bar input::before, .sarufi-modal .sarufi-bar.sarufi-duration__bar input::after {
  position: absolute;
  content: "";
  top: -2px;
  left: 0;
  z-index: 1;
  cursor: pointer;
  height: 5px;
  border-radius: 5px;
  -webkit-transition: .05s;
  transition: .05s;
}

.sarufi-chat-container .sarufi-bar.sarufi-duration__bar input::before, .sarufi-modal .sarufi-bar.sarufi-duration__bar input::before {
  background-color: gray;
  cursor: pointer;
}

.sarufi-chat-container .sarufi-bar.sarufi-duration__bar input::after, .sarufi-modal .sarufi-bar.sarufi-duration__bar input::after {
  left: 10px;
  background-color: lightgray;
  opacity: 0;
}

.sarufi-chat-container .sarufi-audio-player, .sarufi-modal .sarufi-audio-player {
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sarufi-chat-container .sarufi-audio-player .sarufi-bar.sarufi-duration__bar input::before, .sarufi-modal .sarufi-audio-player .sarufi-bar.sarufi-duration__bar input::before {
  width: calc( var(--sarufi-audio-seek-before-width) + 2.5px);
}

.sarufi-chat-container .sarufi-video-player, .sarufi-modal .sarufi-video-player {
  width: 100%;
  position: relative;
}

.sarufi-chat-container .sarufi-video-player .sarufi-bar.sarufi-duration__bar input::before, .sarufi-modal .sarufi-video-player .sarufi-bar.sarufi-duration__bar input::before {
  width: calc( var(--sarufi-video-seek-before-width) + 2.5px);
}

.sarufi-chat-container .sarufi-video-player .sarufi-video-controls, .sarufi-modal .sarufi-video-player .sarufi-video-controls {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: colum;
          flex-direction: colum;
}

.sarufi-chat-container .sarufi-video-player .sarufi-video-controls .sarufi-video-more-controls, .sarufi-modal .sarufi-video-player .sarufi-video-controls .sarufi-video-more-controls {
  cursor: default;
  bottom: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-transition: .2s;
  transition: .2s;
}

.sarufi-chat-container .sarufi-video-player .sarufi-video-controls .sarufi-more-controls-container, .sarufi-modal .sarufi-video-player .sarufi-video-controls .sarufi-more-controls-container {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: .5rem 0 0;
  color: white;
}
/*# sourceMappingURL=media.css.map */