@font-face {
  font-family: "InterRegular";
  src: url(./assets/fonts/Inter-Regular.ttf);
}

@font-face {
  font-family: "PoppinsRegular";
  src: url(./assets/fonts/Poppins-Regular.ttf);
}

.sarufi-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sarufi-flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sarufi-flex-wide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sarufi-flex-end {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.sarufi-flex-start {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.sarufi-flex-around {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.sarufi-flex-even {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.sarufi-flex-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.sarufi-flex-row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.sarufi-align-start {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.sarufi-align-end {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.sarufi-align-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sarufi-flex-wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.sarufi-scroll-bar::-webkit-scrollbar {
  width: .4rem;
  height: .4rem;
}

.sarufi-scroll-bar::-webkit-scrollbar-thumb {
  background: var(--sarufi-border-color);
  border-radius: 0.7em;
}

.sarufi-shadow-xl {
  -webkit-box-shadow: 0px 20px 25px -5px rgba(0, 0, 0, 0.1), 0px 10px 10px -5px rgba(0, 0, 0, 0.04);
          box-shadow: 0px 20px 25px -5px rgba(0, 0, 0, 0.1), 0px 10px 10px -5px rgba(0, 0, 0, 0.04);
}

.sarufi-message-body {
  position: relative;
  border-top-left-radius: 0 !important;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: inherit;
  color: var(--sarufi-received-box-color);
}

.sarufi-message-body a {
  color: var(--sarufi-received-box-link-color);
  text-decoration: none;
}

.sarufi-message-body::before {
  content: "";
  position: absolute;
  left: -11px;
  top: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 11px 9px 0;
  border-color: transparent var(--sarufi-received-box-bg) transparent transparent;
}

.sarufi-message-body.sent {
  border-top-left-radius: .3rem !important;
  border-top-right-radius: 0 !important;
  color: var(--sarufi-sent-box-color);
}

.sarufi-message-body.sent a {
  color: var(--sarufi-sent-box-link-color);
}

.sarufi-message-body.sent::before {
  left: 100%;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 9px 11px 0 0;
  border-color: var(--sarufi-sent-box-bg) transparent transparent transparent;
}
/*# sourceMappingURL=style.css.map */