@import "https://fonts.googleapis.com/css2?family=Inter&family=Poppins&display=swap";
._sarufi-chat-container_x6le6_1 {
  height: 50px;
  width: 50px;
  z-index: 7;
  -webkit-transition: height 0.25s;
  transition: height 0.25s;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: var(--sarufi-font-family);
  font-size: var(--sarufi-font-size);
  bottom: 1rem;
}
._sarufi-chat-container_x6le6_1._sarufi-left-align_x6le6_14,
._sarufi-chat-container_x6le6_1._sarufi-left-align_x6le6_14 ._choices_x6le6_18,
._sarufi-chat-container_x6le6_1._sarufi-left-align_x6le6_14
  ._sarufi-backdrop_x6le6_22 {
  left: 1rem;
}
._sarufi-chat-container_x6le6_1._sarufi-left-align_x6le6_14
  ._sarufi-options_x6le6_26 {
  left: 2rem;
}
._sarufi-chat-container_x6le6_1._sarufi-right-align_x6le6_30,
._sarufi-chat-container_x6le6_1._sarufi-right-align_x6le6_30 ._choices_x6le6_18,
._sarufi-chat-container_x6le6_1._sarufi-right-align_x6le6_30
  ._sarufi-backdrop_x6le6_22 {
  right: 1rem;
}
._sarufi-chat-container_x6le6_1._sarufi-right-align_x6le6_30
  ._sarufi-options_x6le6_26 {
  right: 2rem;
}
._sarufi-chat-container_x6le6_1._open_x6le6_46 {
  height: 500px;
  width: 400px;
  max-width: 100%;
  max-height: 100%;
  border-radius: 10px 10px 0 0;
  bottom: 1rem;
  right: 1rem;
  background: var(--clr-neutral-0);
}
._sarufi-chat-container_x6le6_1 button:focus {
  outline-color: transparent;
}
._sarufi-chat-container_x6le6_1 a:hover {
  text-decoration: underline;
}
._sarufi-chat-container_x6le6_1 p {
  margin: 0;
  overflow-wrap: break-word;
  white-space: pre-wrap;
}
._sarufi-chat-container_x6le6_1 ul {
  -webkit-margin-before: 0;
  margin-block-start: 0;
  -webkit-margin-after: 0;
  margin-block-end: 0;
  list-style: none;
  -webkit-padding-start: 0;
  padding-inline-start: 0;
}
._sarufi-chat-container_x6le6_1 form {
  width: 100%;
  bottom: 0;
  height: 60px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
._sarufi-chat-container_x6le6_1 form button {
  position: absolute;
  height: 50px;
  width: 50px;
  max-width: 50px !important;
  bottom: 5px;
  right: 5px;
  padding: 1rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: var(--sarufi-primary-color);
}
._sarufi-chat-container_x6le6_1 ._choices_x6le6_18 {
  height: calc(418px - 0.5rem);
  max-height: calc(100% - 92px - 0.5rem);
  width: 400px;
  max-width: 100%;
  bottom: calc(40px + 0.2.2rem);
}
._sarufi-chat-container_x6le6_1 ._sarufi-backdrop_x6le6_22 {
  height: calc(405px - 0.5rem);
  max-height: calc(100% - 105px - 0.5rem);
  width: 400px;
  max-width: 100%;
  bottom: calc(69px + 0.5rem);
}
._sarufi-chat-container_x6le6_1 ._sarufi-options_x6le6_26 {
  height: calc(385px - 0.5rem);
  max-height: calc(100% - 94px - 0.5rem);
  width: 368px;
  max-width: 100%;
  overflow-y: auto;
  position: fixed;
  bottom: calc(80px + 0.5rem);
  margin-top: 1rem;
}
._sarufi-field-group_x6le6_131 {
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%;
}
._sarufi-field-group_x6le6_131 ._input-group_x6le6_138 {
  position: relative;
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
._sarufi-field-group_x6le6_131 ._input-group_x6le6_138 textarea {
  resize: none;
  background-color: transparent;
  width: 100%;
  height: 100%;
  border: 1px solid transparent;
  -webkit-transition: 0.25s;
  transition: 0.25s;
  font-family: inherit;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: inherit;
}
._sarufi-field-group_x6le6_131 ._input-group_x6le6_138 textarea:focus,
._sarufi-field-group_x6le6_131 ._input-group_x6le6_138 textarea:hover {
  border-color: var(--sarufi-primary-color);
  border-width: 1px;
  outline: transparent !important;
}
._sarufi-field-group_x6le6_131 ._input-group_x6le6_138 textarea:disabled {
  border-color: #4a535b;
  color: #4a535b;
}
._sarufi-chat-loader_x6le6_170 div {
  width: 9px;
  height: 9px;
  background-color: var(--sarufi-received-box-color);
  border-radius: 50%;
  display: inline-block;
  -webkit-animation: _bouncedelay_x6le6_1 1.4s infinite ease-in-out;
  animation: _bouncedelay_x6le6_1 1.4s ease-in-out infinite;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
._sarufi-chat-loader_x6le6_170 ._sarufi-bounce1_x6le6_185 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
._sarufi-chat-loader_x6le6_170 ._sarufi-bounce2_x6le6_190 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
@-webkit-keyframes _bouncedelay_x6le6_1 {
  0% {
    transform: scale(0);
    -webkit-transform: scale(0);
  }
  40% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
  80% {
    transform: scale(0);
    -webkit-transform: scale(0);
  }
  to {
    transform: scale(0);
    -webkit-transform: scale(0);
  }
}
@keyframes _bouncedelay_x6le6_1 {
  0% {
    transform: scale(0);
    -webkit-transform: scale(0);
  }
  40% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
  80% {
    transform: scale(0);
    -webkit-transform: scale(0);
  }
  to {
    transform: scale(0);
    -webkit-transform: scale(0);
  }
}
@media screen and (max-width: 432px) {
  ._sarufi-chat-container_x6le6_1._open_x6le6_46 {
    width: 100%;
    bottom: 0;
    right: 0;
  }
  ._sarufi-chat-container_x6le6_1 ._sarufi-backdrop_x6le6_22 {
    height: calc(396px - 0.5rem);
    max-height: calc(100% - 104px - 0.5rem);
    width: 100%;
    max-width: 100%;
    right: 0;
    bottom: calc(62px + 0.5rem);
  }
  ._sarufi-chat-container_x6le6_1 ._sarufi-options_x6le6_26 {
    right: 0rem !important;
    height: calc(365px - 0.5rem);
    max-height: calc(100% - 120px - 0.5rem);
    width: 100%;
    max-width: 100%;
    overflow-y: auto;
    position: fixed;
    bottom: calc(70px + 0.5rem);
    margin-top: 1rem;
  }
}
@media screen and (max-height: 532px) {
  ._sarufi-chat-container_x6le6_1._open_x6le6_46 {
    height: 100%;
    bottom: 0;
    right: 0;
  }
  ._sarufi-chat-container_x6le6_1 ._sarufi-backdrop_x6le6_22 {
    height: calc(406px - 0.5rem);
    max-height: calc(100% - 94px - 0.5rem);
    width: 400px;
    max-width: 100%;
    right: 0;
    bottom: calc(52px + 0.5rem);
  }
  ._sarufi-chat-container_x6le6_1 ._sarufi-options_x6le6_26 {
    right: 1rem;
    height: calc(375px - 0.5rem);
    max-height: calc(100% - 110px - 0.5rem);
    width: 368px;
    max-width: 100%;
    overflow-y: auto;
    position: fixed;
    bottom: calc(60px + 0.5rem);
    margin-top: 1rem;
  }
}
.sarufi-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.sarufi-flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.sarufi-flex-wide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.sarufi-flex-end {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
.sarufi-flex-start {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}
.sarufi-flex-around {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}
.sarufi-flex-even {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
}
.sarufi-flex-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.sarufi-flex-row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}
.sarufi-align-start {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.sarufi-align-end {
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}
.sarufi-align-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.sarufi-flex-wrap {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.sarufi-scroll-bar::-webkit-scrollbar {
  width: 0.4rem;
  height: 0.4rem;
}
.sarufi-scroll-bar::-webkit-scrollbar-thumb {
  background: var(--sarufi-border-color);
  border-radius: 0.7em;
}
.sarufi-shadow-xl {
  -webkit-box-shadow: 0px 20px 25px -5px rgba(0, 0, 0, 0.1),
    0px 10px 10px -5px rgba(0, 0, 0, 0.04);
  box-shadow: 0 20px 25px -5px #0000001a, 0 10px 10px -5px #0000000a;
}
.sarufi-ellipsed-text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
}
.sarufi-message-body {
  position: relative;
  border-top-left-radius: 0 !important;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: inherit;
  color: var(--sarufi-received-box-color);
  -webkit-transition: 0.45s all;
  transition: 0.45s all;
}
.sarufi-message-body a {
  color: var(--sarufi-received-box-link-color);
  text-decoration: none;
}
.sarufi-message-body:before {
  content: "";
  position: absolute;
  left: -11px;
  top: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 11px 9px 0;
  border-color: transparent var(--sarufi-received-box-bg) transparent
    transparent;
}
.sarufi-message-body.sent {
  border-top-left-radius: 0.3rem !important;
  border-top-right-radius: 0 !important;
  color: var(--sarufi-sent-box-color);
}
.sarufi-message-body.sent a {
  color: var(--sarufi-sent-box-link-color);
}
.sarufi-message-body.sent:before {
  left: 100%;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 9px 11px 0 0;
  border-color: var(--sarufi-sent-box-bg) transparent transparent transparent;
}
